<!DOCTYPE html>
<html>
  <head>
    <title>GmapsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>

    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArS5D2MRZ32mOGrgMM8AL9h4ds7GDg6-k">
 </script>
  </body>
</html>
